body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Header */
.header{
  background-color: #3cb0fd;
  width: 100%;
  left: 34rem;
}

/* Sidenav CSS */
.sidebar{
  width: 15rem;
  height: 100vh;
  position: fixed;
  border-right: 1px solid black;
  background-color: aqua;
}
.logo{
  height: 210px;
  width: 240px;
  margin: 0;
  margin-left: 5px;
  border: none;
}
.site{
  display: flex;
  
}

.sidebar{
  width: 16rem;
  height: 100vh;
  position: fixed;
  border-right: 1px solid black;
  background-color: aqua;
}

.title{
  width: max-content;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem auto;
  cursor: pointer;
}

.link{
  width: 70%;
  font-size: 1.25rem;
  margin: auto;
  padding: 1rem 2rem;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #3cb0fd;
}
.xyz{
  text-decoration: none;
}

.link:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}




/* Book Store CSS */
ul,li{
  list-style: none;
}
section{
  display: flex;
}
img{
  margin: 30px;
  height: 400px;
  width: 300px;
}
.navbar{
  background: #3498db;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
  font-weight: 600;
  color:white;
  margin-left: 15rem;
}

.content{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.booklist{
  margin-left: 15rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 13px;
  grid-template-columns: repeat(3, 1fr);
}
b{
  font-size: 20px;
}
p{
  margin: 0;
}
h2{
  margin: 0;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}


.nav {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#3a8a9e;
  border-color:#d6bcd6;
  font-weight:bold;
  border-top-left-radius:39px;
  border-top-right-radius:39px;
  border-bottom-left-radius:39px;
  border-bottom-right-radius:39px;
  box-shadow: 3px 4px 0px 0px #899599;
  text-shadow: 0px 1px 0px #e1e2ed;
  background:linear-gradient(#ededed, #bab1ba);
}

.nav:hover {
  background: linear-gradient(#bab1ba, #ededed);
  cursor: pointer;
}

img{
  transition: transform .2s;
  border: solid #2980b9;
}
img:hover{
  transform: scale(1.2);
}
p{
  font-size: 24px;
}
#css{
  background-color: #2980b9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
  margin-top: 2rem;
}
.foot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  background-color: beige;
}

/* Form CSS */
form {
  font-family: sans-serif;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40rem;
  border: 1px solid;
  margin-left: 34rem;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

label {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #f5f5f5;
}

textarea {
  width: 90%;
  resize: vertical;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#firstName{
  margin-left: 3.5rem;
}
#lastName{
  margin-left: 3.5rem;
}
#email{
  margin-left: 4rem;
}
#password{
  margin-left: 3.8rem;
}
.cart{
  margin-top: 1rem;
  margin-left: 24rem;
  border: 1px solid;
  min-height: 80vh;
  border-radius: 40px;
  margin-right: 13rem;
}
.cart_heading{
  margin-left: 20rem;

}
.cart_details{
  margin-left: 3rem;
}

.about{
  margin-left: 45rem;
  height: 33.7rem;
}

.submit {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 16rem;
}

.submit:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}
